<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Patchstagram</title>
</head>
<body>
    <div class="splash-container">
        <div>
            <h1 class="splash-title">Patchstagram</h1>
            <img class="splash-logo" 
                src="https://res.cloudinary.com/app-academy4/image/upload/v1647291502/Patchstagram/patch_hd_riobbp.png" 
                alt="cat-logo" 
            />
            <p class="splash-detail">The cat with so much to talk about, he needs his own social media site!</p>   
        </div>
        <a
            href="/all"
            class="button-link"
        >
            Enter
        </a>
    </div>
    {% include "footer.html" %}   
</body>
</html>